//==============================================================================================
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 50px 0;
   // .footer__container
   &__container {
   }
   // .footer__elements
   &__elements {
   }
   // .footer__text
   &__text {
   }
}
.element {
   margin: 0 0 25px 0;
   // .element__item
   &__item {
      font-size: 30px;
      color: inherit; 
      transition: color .3s ease .0s;
      @media (min-width: $md2+px) {
         &:hover{
            color: #ff6464;
         }
      }  
      margin: 0 35px 0 0;
      &:last-child {
         margin: 0;
      }
   }
}

//==============================================================================================
